@import "./abstract/common";
@import "./abstract/variable";
@import "./include/footer";
@import "./include/header";
@import "./mixins/breakpoints";

.body {
    background-color: $bg-color;
    .back {
        background-color: $background;
        position: relative;
        border-radius: 5px;
        padding: 5px;
        @include media-min-lg{
            padding: 0px 70px;
        }              
        .must{
            border-bottom: 3px solid $bg-color;
            bottom: 20px;
           
        }
    }
}
.container{
    position: relative;   
}
#popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background: $background;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
#popup.active{
    top: 70%;
    visibility: visible;
    height: 100%;
    opacity: 1;
    transform: 0.5s;
    @include media-min-md-x{
        top: 56%;
        height: 80%;
    }
}
form{
    .date{
        width: 20%;
    }
}
  .alert.showAlert{
    opacity: 1;
    pointer-events: auto;
  }
  .alert.show{
    animation: show_slide 1s ease forwards;
  }
  @keyframes show_slide {
    0%{
      transform: translateX(100%);
    }
    40%{
      transform: translateX(-10%);
    }
    80%{
      transform: translateX(0%);
    }
    100%{
      transform: translateX(-10px);
    }
  }
  .alert.hide{
    animation: hide_slide 2s ease forwards;
  }
  @keyframes hide_slide {
    0%{
      transform: translateX(-10px);
    }
    40%{
      transform: translateX(0%);
    }
    80%{
      transform: translateX(-10%);
    }
    100%{
      transform: translateX(100%);
    }
  }
  .text-end{
    overflow: hidden;
    .alert {
        .msg{
            padding: 10px 15px;
            font-size: 18px;
            border-radius: 24px;
            color: $popup-color;
            background-color: $popup-background;
          }
      }
  }
  